{{ define "views/contact.html" }}

<!--Embed the header.html template at this location-->
{{ template "layouts/header.html" .}}

<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2>{{ .contact }}</h2>
          <h4>Email: ccathlete01@gmail.com</h4>
          <h5>Slovak number: +421 919 072 713</h5>
          <h5>Israeli number: +972 544 680 278</h5>
        </div>
      </div>
    </div>
  </header>
<!--Embed the footer.html template at this location-->
{{ template "layouts/footer.html" .}}
{{ end }}